<div>
    <states>
        <state name="aboutme"></state>
        <state name="mywork"></state>
        <state name="resume"></state>
    </states>

    <div id="sectionHeaderGroup" class="sectionHeader">

        <div class="previousSection">

        </div>
        <h1 class="sectionHeaderLabel" id="sectionHeaderLabel"></h1>

        <div class="nextSection">

        </div>
    </div>

    <div id="aboutMeSection" class="section" class.aboutme="section section-active" skin_class="app.AboutMeSectionSkin" comp="app.Section"></div>
    <div id="myWorkSection" class="section" class.mywork="section section-active" skin_class="app.MyWorkSectionSkin" comp="app.Section"></div>
    <div id="resumeSection" class="section" class.resume="section section-active" skin_class="app.ResumeSectionSkin" comp="app.Section"></div>

</div>